* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box
}

*::before {
  box-sizing: border-box
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

ul, ol {
  list-style: none;
}

$main-color: #409eff;
$padding: 16px;
.site-page {
  background: white;
}

.site-header {
  background: #eeeeee;
  padding: 4px 0;

  .logo {
    display: flex;
    align-items: center;
    padding: 0 $padding;

    > span {
      color: #00ADB5;
      font-size: 32px;
      margin-left: 10px;
    }
  }
}

.site-aside {
  border-right: 1px solid #eeeeee;
  margin-right: 16px;

  > h2 {
    padding: $padding;
    font-size: 18px;
  }

  > ul {
    padding: 0 $padding;
    min-width: 12em;

    > li {
      padding: 10px 0;

      a {
        text-decoration: none;
        color: gray;

        &:hover {
          color: $main-color;
        }

        &:active {
          color: $main-color;
        }
      }
    }
  }
}
.site-footer{
  text-align: center;
  padding: 16px 0;
  font-size: 16px;
  background: #eeeeee;
}