$padding: 16px;
$main-color: #00ADB5;
$background: #e6f7ff;
$text-color: #1890ff;
$border-color: #eee;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after *::before {
  box-sizing: border-box
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

body {
  font-size: 16px;
}

pre {
  font-family: "Fira Code Medium", Consolas, monospace;
  padding: $padding;
  width: 600px;
}

.example {
  padding-bottom: 20px;
}

$main-color: #409eff;
$padding: 16px;

.site-page {
  background: white;
  min-height: 100vh;
}

.site-header {
  width: 100%;
  height: 60px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

  .logo {
    padding: 0 $padding;
    display: flex;
    align-items: center;

    >img {
      margin-right: 8px;
    }

    >span {
      color: #00ADB5;
      font-size: 20px;
    }
  }
}

.site-aside {
  border-right: 1px solid #eeeeee;
  margin-right: 16px;

  >h2 {
    padding: $padding;
    font-size: 14px;
    color: mediumslateblue;
    font-weight: 550;
  }

  >ul {
    padding: 0 $padding;
    min-width: 12em;

    >li {
      padding: 20px 10px;
      font-family: fangsong;

      a {
        text-decoration: none;
        color: #333;

        &:hover {
          color: $main-color;
        }

        &.active {
          color: $main-color;
        }
      }
    }
  }
}

.site-main {
  padding-top: $padding;
  padding-left: $padding;
  padding-right: $padding;
}

.site-footer {
  text-align: center;
  font-size: 12px;
  color: #666;
  padding: $padding 0;
  border-top: 1px solid $border-color;
}

html,
body {
  min-height: 100vh;
}

#root,
.App {
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

/* 代码示例前的标题 */
section {
  padding: 20px 0px 20px 0px;
  max-width: 1000px;
  margin: 0 auto;
}

section.sub {
  padding-top: 0;
}

section h1,
section h2,
section h3 {
  color: #0d1a26;
}

section .text {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.65);
}

/* API 表格、Method 表格 */
.api-table,
.method-table {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  border-collapse: collapse;
}

.api-table th,
.api-table td,
.method-table th,
.method-table td {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.65);
  min-width: 120px;
  max-width: 250px;
  text-align: left;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.api-table th.des,
.api-table td.des,
.method-table th.des,
.method-table td.des,
.api-table th.type,
.api-table td.type,
.method-table th.type,
.method-table td.type {
  text-align: start;
  min-width: 100px;
  max-width: 300px;
}

.api-table td.type,
.api-table td.params,
.method-table td.type,
.method-table td.params {
  color: #c41d7f;
}

.api-table th,
.method-table th {
  background-color: rgba(0, 0, 0, 0.04);
  font-weight: 500;
}


a.link {
  color: #1890ff;
  margin: 0 4px;
}